
<body>
<header>
  <div class="configtitle">
    <div class="title">
      <h1>CLIENTE(ven)</h1>
    </div>
  </div>
</header>
<main>
  <div class="formulario">
    <form class="contenido">
      <div class="flexbox-container">
      <label for="CLIENTE_ID">CLIENTE_ID:</label>
      <input type="number">

      <label for="NOMBRE_COMPLETO">NOMBRE_COMPLETO:</label>
      <input type="text">

      <label for="TELEFONO">TELEFONO:</label>
      <input type="number">

      <label for="DESCRIPCION">DESCRIPCION:</label>
      <input type="text">

      <label for="OTRO_DETALLE">OTRO_DETALLE:</label>
      <input type="text">

      <label for="DIRECCION">DIRECCION:</label>
      <input type="text">

      <label for="TIPO_CLIENTE_ID">TIPO_CLIENTE_ID:</label>
      <input type="text">
    </div>
    <br>
    <div class="botones">
      <button class="bt1">Guardar</button>
      <button class="bt2">Eliminar</button>
      <button class="bt3">Buscar</button>
      <button class="bt4">Actualizar</button>
    </div>
    </form>
   </div>
</main>
</body>
<router-outlet></router-outlet>
